body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

:root {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/backgroud/airadventurelevel1.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.start {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    display: block;
    .name {
        width: inherit;
        height: 50px;
        margin: 10% auto;
        text-align: center;
        font-size: 70px;
        font-weight: bold;
        color: white;
        
    }
    .bird {
        width: 210px;
        height: 180px;
        background-image: url('./img/bird/player1.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 20% auto;
    }
    .button button {
        display: block;
        width: 200px;
        height: 50px;
        margin: 20px auto;
        border-radius: 10px;
        border: none;
        color: white;
        background: #6ad9f2;
        cursor: pointer;
        transition: all 1s;
    }
    .button button:hover {
        box-shadow: 0 0 25px rgb(24, 36, 33);
    }
    .button button:nth-child(2) {
        background-color: aquamarine;
    }
    .button button:nth-child(3) {
        background-color: rgb(208, 236, 97);
    }
    .copyright p {
        width: inherit;
        height: 50px;
        margin: 20% auto;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
}

.role, .map {
    .title {
        width: inherit;
        height: 50px;
        margin: 3% auto;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        color: white;
    }
    .list {
        width: 65%;
        height: 80%;
        margin: 0 auto;
        ul {
            padding: 0;
            li {
                margin: 0 auto;
                display: inline-block;
                img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
            
    }

    .next {
        display: flex;
        justify-content: center;

        button {
            display: block;
            width: 200px;
            height: 50px;
            margin: 20px auto;
            border-radius: 10px;
            border: none;
            color: white;
            background: #6ad9f2;
            cursor: pointer;
            transition: all 1s;
        }
        button:hover {
            box-shadow: 0 0 25px rgb(24, 36, 33);
        }
        button:nth-child(1) {
            background: #b5f12b;
        }
    }
    
}


.selection {
    width: 360px;
    height: 280px;
    border: 5px solid #494ff0;
    box-shadow: 0 0 25px #bf49e3;
    transition: all 0.2s;
    border-radius: 10px;
}