body,html {
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.background {
    position: absolute;
    width: 200%;
    height: 100vh;
    --background-image-url: url('./img/backgroud/airadventurelevel1.png');
    background-image: var(--background-image-url) ;
    background-repeat: repeat-x;
    background-size: 57%;
    animation: scroll 50s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

#app {
    position: relative; 
    z-index: 1000; /* 设置较高的z-index以确保内容层覆盖背景 */

}

.start {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    display: block;
    .name {
        width: inherit;
        height: 50px;
        margin: 10% auto;
        text-align: center;
        font-size: 70px;
        font-weight: bold;
        color: white;
        
    }
    .bird {
        width: 210px;
        height: 180px;
        background-image: url('./img/bird/player1.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 20% auto;
    }
    .button button {
        display: block;
        width: 200px;
        height: 50px;
        margin: 20px auto;
        border-radius: 10px;
        border: none;
        color: white;
        background: #6ad9f2;
        cursor: pointer;
        transition: all 1s;
    }
    .button button:hover {
        box-shadow: 0 0 25px rgb(24, 36, 33);
    }
    .button button:nth-child(2) {
        background-color: aquamarine;
    }
    .button button:nth-child(3) {
        background-color: rgb(208, 236, 97);
    }
    .copyright p {
        width: inherit;
        height: 50px;
        margin: 20% auto;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
}

.role, .map {
    .title {
        width: inherit;
        height: 50px;
        margin: 3% auto;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        color: white;
    }
    .list {
        width: 65%;
        height: 80%;
        margin: 0 auto;
        ul {
            padding: 0;
            li {
                margin: 0 auto;
                display: inline-block;
                img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
            
    }

    .next {
        display: flex;
        justify-content: center;

        button {
            display: block;
            width: 200px;
            height: 50px;
            margin: 20px auto;
            border-radius: 10px;
            border: none;
            color: white;
            background: #6ad9f2;
            cursor: pointer;
            transition: all 1s;
        }
        button:hover {
            box-shadow: 0 0 25px rgb(24, 36, 33);
        }
        button:nth-child(1) {
            background: #b5f12b;
        }
    }
    
}


.selection {
    width: 360px;
    height: 280px;
    border: 5px solid #494ff0;
    box-shadow: 0 0 25px #bf49e3;
    transition: all 0.2s;
    border-radius: 10px;
}


.main {
    position: relative;
}

/* 管道图片的效果，设置的css动画无限循环 */
.pipe-img {
    position: absolute;
    right: -100px; /* 初始位置在屏幕右侧外 */
    top: -260px; /* 垂直居中 */
    animation: movePipe 6s linear infinite; /* 应用动画 */
  }
  
@keyframes movePipe {
    0% {
        right: -100px; /* 开始时在屏幕右侧外 */
      }
    100% {
        right: 100vw; /* 移动到屏幕左侧外 */
    }
}
.game-role {
    position: absolute;
    top: 50vh;
    left: 200px;
    width: 80px;
    rotate: 0deg;
    transition: all 1s;
}
